<style type="text/css">
    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }
</style>

<div class="center-screen">
    <h1>Page not found!</h1>
    <br>
    <img src="assets/img/logo.png" alt="The logo">
</div>