<html>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>
    <div>
        <h1> Welcome to ISC's activity </h1>

        There are {{.numActivity}} activities.
        <br> The activity list:
        <br>
        <br>
        <div>
            <table width=100%>
                {{range .activityList}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Host}}</td>
                    <td>{{.Time}}</td>
                    <td>{{.Location}}</td>
                    <td>{{.Limit}}</td>
                    <td>{{.Tag}}</td>
                    <td>{{.Name}}</td>
                    <td>
                        <a href="{{.Link}}"> Link </a>
                    </td>
                </tr>
                {{end}}
            </table>
        </div>
    </div>
</body>

</html>