<head>
    <link rel="shortcut icon" href="../assets/img/logo.ico" />
    <link rel="bookmark" href="../assets/img/logo.ico" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <h1>This is the home page of ISC at NSYSU</h1>
            <br>
            <h1><a href="/activity/">Activity</a> </h1>
            <br>
            <h1><a href="/video/">Video</a></h1>
        </div>
    </div>

    <footer>
        <p>
            <font color="black">*</font>Looking for website front-end, DevSecOps and hackers.</p>
    </footer>

</body>