<!DOCTYPE html>
<html>
<title>{{.Title}}</title>

<body>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/assets/css/style.css" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    {{ if .Success }}
    <div class="alert alert-success" role="alert">
        {{ .Success }}
    </div>
    {{ end }} {{if .Error}}
    <div class="alert alert-danger" role="alert">
        {{ .Error }}
    </div>
    {{end}}
    <div class="container register-form">
        <form METHOD="POST" ACTION="{{.Link}}">
            <div class="form">
                <div class="note">
                    <p>{{.Title}}</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="你的名字" name="name" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="學生證號碼" name="sid" value="" />
                            </div>

                            {{range .Info}}
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{.InfoText}}" name="{{.InfoName}}" value="" />
                            </div>
                            {{end}}
                            <!--  -->

                            {{range .Option}}
                            <div class="form-group">
                                {{if .IsLink}}
                                <a href="{{.Link}}" target="_blank"> 
                                {{end}}
                                
                                {{.Description}} 
                        
                                {{if .IsLink}} 
                                </a> {{end}}
                                <input type="checkbox" name="{{.BoxName}}" value="" /> {{.Item}}
                            </div>
                            {{end}}


                        </div>
                    </div>
                    <button type="submit" class="btnSubmit">送出</button>
                </div>
            </div>
        </form>
    </div>
</body>

<script>
    $("checkbox").change(function() {
        if (this.checked) {
            this.value = "1"
        }
    });
</script>

</html>